<div class="ui container">
	<h2>Here is a list of what we need from you <%= current_user.username %></h2>
	<ul>
		<li>Preferences</li>
		<li>Sex</li>
		<li>Age</li>
		<li>Age Preference</li>
		<li>What you like</li>
		<li>Profile picture</li>
	</ul>
</div>