<div class="ui container">
	<%#= link_to "Complete my Profile", user_profile_path(current_user), class: "ui positive basic button" %>

	<% if current_user.sign_in_count <= 1 %>
			<h1>Welcome <%= current_user.username %></h1>
	<%  else %>
		<h1>Welcome back <%= current_user.username %></h1>
	<% end  %>

	<div class="ui grid">
		<div class="eight wide columns">
			<div class="ui teal segment">
				<%= render @activities %>
			</div>
		</div>
		<div class="ui grid eight columns">
			<div class="ui teal segment">
			</div>
		</div>
	</div>

</div>