<div class="ui card">
	<div class="content">
		<div class="header">Get Premium Membership!</div>
	</div>
	<div class="content">
		<div class="ui small feed">
			<div class="event">
				<div class="content">
					<div class="summary">
						<a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="extra content">

		<%= form_tag user_account_path, method: :put do %>
				<article>
					<% if flash[:error].present? %>
							<div id="error_explanation">
								<p><%= flash[:error] %></p>
							</div>
					<% end %>
				</article>

				<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				        data-description="A month's subscription"
				        data-amount="1999"
				        data-locale="auto"></script>
		<% end %>
	</div>
</div>
